<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>券売機</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    #content {
      width: 80%;
      margin: auto;
      text-align: center;
    }
    .machine {
      width: 20%;
    }
    ul {
      padding: 0;
    }
    li {
      list-style: none;
    }
    input[disabled] {
      color: gray;
    }
  </style>
</head>
<body>
  <div id="content">
    <h1 class="header">券売機</h1>
    <img class="machine" src="./images/ticket_kenbaiki.png" alt="券売機">
    <div class="input-form">
      <h2>投入金額</h2>
      <form action="#">
        <div class="money-input" v-for="item in input_money">
          <label :for="item.name">{{labelName(item.name)}}</label>
          <input 
            :id="item.name"
            v-model="item.value"
            :type="item.type"
            min="0"
            :max="getLeft(item.name).value"
            :disabled="disabled(item.name)">
        </div>
        <div class="money-input">
          <button type="button" @click="buy">購入</button>
        </div>
      </form>
    </div>
    <div class="left_money">
      <h2>所持金</h2>
      <ul>
        <li v-for="item in left_money">
          {{labelName(item.name)}} {{item.value + item.value_suf}}
        </li>
      </ul>
    </div>
    <div v-html="result_str" class="result_str">
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#content',
      data: {
        input_money: [
          {name: 'm10',     value: 0,     type: 'number'},
          {name: 'm50',     value: 0,     type: 'number'},
          {name: 'm100',    value: 0,     type: 'number'},
          {name: 'm500',    value: 0,     type: 'number'},
          {name: 'm1000',   value: 0,     type: 'number'},
          {name: 'm5000',   value: 0,     type: 'number'},
          {name: 'm10000',  value: 0,     type: 'number'},
          {name: 'e_money', value: false, type: 'checkbox'},
        ],
        left_money: [
          {name: 'm10',     value: 15  , value_suf: '枚'},
          {name: 'm50',     value: 3   , value_suf: '枚'},
          {name: 'm100',    value: 2   , value_suf: '枚'},
          {name: 'm500',    value: 1   , value_suf: '枚'},
          {name: 'm1000',   value: 1   , value_suf: '枚'},
          {name: 'm5000',   value: 1   , value_suf: '枚'},
          {name: 'm10000',  value: 1   , value_suf: '枚'},
          {name: 'e_money', value: 1000, value_suf: '円'},
        ],
        result_str: 'ここに購入結果が表示されます。'
      },
      methods: {
        labelName: function (type) {
          let m = type.match(/m([1-9][0-9]{1,4})/);
          if (m === null) {
            if (type === 'e_money') return '電子マネー'
            alert('エラー');
            return `エラー: type = ${type}`;
          }
          return m[1] + '円';
        },
        getLeft: function (name) {
          return this.left_money.filter(m => m.name === name)[0];
        },
        getInput: function (name) {
          return this.input_money.filter(m => m.name === name)[0];
        },
        buy: function () {
          let params = this.input_money
            .filter(m => m.value !== 0)
            .map(m => {
              if (m.name === 'e_money') {
                if (m.value === true) {
                  let e_money = this.getLeft('e_money').value;
                  return `${m.name}=${e_money}`;
                }
                return null;
              }
              return `${m.name}=${m.value}`;
          }).filter(m => m !== null);
          let query = '?' + params.join('&');
          console.log(params);
          axios.get('http://localhost:8888/index.php' + query)
            .then(res => {
              console.log(res.data);
              let result_str = "<h2>結果</h2>";
              this.input_money.filter(m => m.value != 0)
                .forEach(m => {
                  if (m.name === 'e_money') {
                    let left = this.getLeft(m.name).value;
                    result_str += `<li>${left}円チャージされた${this.labelName(m.name)}を投入しました。</li>`;
                    return;
                  }
                result_str += `<li>${this.labelName(m.name)}を${m.value}枚投入しました。</li>`;
              });
              result_str += '<li>お釣りは、</li>';
              for (i in res.data) {
                let key = '';
                let m = i.match(/m([1-9][0-9]{1,4})/);
                if (m === null) {
                  if (i === 'e_money') {
                    let e_money = this.getLeft(i);
                    e_money.value = res.data[i];
                    result_str += `<p>電子マネー残高${res.data[i]}円</p>`;
                    continue;
                  }
                  alert('エラー');
                  this.result_str = `<h2>エラー: ${res.data.message}</h2>`;
                  return;
                }
                let money = this.getLeft(i);
                money.value += res.data[i];
                result_str += `<li>${m[1]}円が${res.data[i]}枚</li>`
              }
              this.input_money.filter(m => m.name !== 'e_money')
                .forEach(m => {
                  let left = this.getLeft(m.name);
                  left.value -= m.value;
                  m.value = 0;
                });
              if (res.data.length == 0) {
                this.result_str = result_str + '<li>ありませんでした。</li>';
                return;
              }
              this.result_str = result_str + '<li>でした。</li>';
            });
        },
        // どれか一つの金種を選んだら他を選択できなくする
        disabled: function (input) {
          let someTypeIsSelected = false;
          this.input_money.forEach(m => {
            if (m.value != false) {
              someTypeIsSelected = true;
            }
          });
          let money = this.getInput(input).value;
          return money == 0 && someTypeIsSelected;
        }
      }
    })
  </script>
</body>
</html>
